* {
    box-sizing: border-box;
}

.header{
    padding: 1000px;
    text-align:center;
   background-image: url('coding picture.jpg');
   color:cyan;
   Background-repeat:no-repeat;

}

.topnov{
    background-color: blanchedalmond;
    overflow:hidden;
    color:green;
}


.topnov:hover{
    background-color:cyan;
    color:cornflowerblue;
}






