
* {
    box-sizing: border-box;
}

.header{
    padding: 30px;
    text-align:center;
   background-image: url('coding picture.jpg');
   color:cyan;
    width:100%;
    height:auto;
}

.topnav{
    background-color: blanchedalmond;
    overflow:hidden;
    color:green;
}


.topnov:hover{
    background-color:cyan;
    color:cornflowerblue;
}






