.header{
    padding: 1000px;
    text-align:center;
   background-image: url('coding picture.jpg');
   color:cyan;

}

.topnov{
    background-color: blanchedalmond;
    overflow:hidden;
    color:green;
}


.topnov:hover{
    background-color:cyan;
    color:cornflowerblue;
}






